//
//  Development.xcconfig
//  HRVMonitor
//
//  Created by bchalpin on 3/15/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - mood ring config

// potentially unused
MOOD_SAFE_HRV_THRESHOLD = 50.0

// if  above this -> green
// if below this -> yellow
MOOD_WARNING_HRV_THRESHOLD = 20.0

// if below this -> red
MOOD_DANGER_HRV_THRESHOLD = 15.0

// MARK: - hrv/hr related config

// time in seconds between each polling of hrv
HRV_MONITOR_INTERVAL_SEC = 5.0

// number of (most recent) hr samples to be included in each hrv calculation
HR_WINDOW_SIZE = 30

// number of (most recent) hrv values that will be stored in "sliding hrv window"
HRV_STORE_SIZE = 7

// delay in seconds between notifications/alerts
NOTIFICATION_DELAY_SEC = 600

// pagination size for events in UI
STRESS_EVENT_PAGE_SIZE = 3

// MARK: - app state config

// true: CoreData entities can be updated/created
// false: CoreData entities can NOT be updated/created
// NOTE: this is mainly for development purposes
IS_DATA_PERSISTENT = true

// true: hrv will be generated randomly
// false: hrv will be read from the patient
DEMO_MODE = true

// threshold for Threat Detector to switch from predictor mode: static -> dynamic
// represents the minimum number of records in data store marked as "stressful" (label = 1)
MIN_STRESS_EVENT_COUNT = 15

// MARK: - lr hyperparameters

LR_PREDICTION_THRESHOLD = 0.45
LR_EPOCHS = 10
LR_LEARNING_RATE = 0.002
LR_LAMBDA = 1.0


// MARK: - static predictor config

// if hrv falls below this value in static predictor: stress detected
STATIC_DANGER_THRESHOLD = 0.0
