<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEMO_MODE</key>
	<string>$(DEMO_MODE)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HRData.csv</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>DANGER_HRV_THRESHOLD</key>
	<string>$(DANGER_HRV_THRESHOLD)</string>
	<key>HRV_MONITOR_INTERVAL_SEC</key>
	<string>$(HRV_MONITOR_INTERVAL_SEC)</string>
	<key>HRV_STORE_SIZE</key>
	<string>$(HRV_STORE_SIZE)</string>
	<key>HR_STORE_SIZE</key>
	<string>$(HR_STORE_SIZE)</string>
	<key>HR_WINDOW_SIZE</key>
	<string>$(HR_WINDOW_SIZE)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>Eastern-Washington-University.HRVMonitor.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>SAFE_HRV_THRESHOLD</key>
	<string>$(SAFE_HRV_THRESHOLD)</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>WARNING_HRV_THRESHOLD</key>
	<string>$(WARNING_HRV_THRESHOLD)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
